@import url('https://fonts.googleapis.com/css?family=Kalam:300,700|La+Belle+Aurore|Patrick+Hand+SC|Walter+Turncoat');

// font-family: 'Patrick Hand SC', cursive;
// font-family: 'Walter Turncoat', cursive;
// font-family: 'La Belle Aurore', cursive;
// font-family: 'Kalam', cursive;


// FONTS
$primary-font: 'Patrick Hand SC', cursive;
$term-font: 'Walter Turncoat', cursive;
$cursive-font: 'La Belle Aurore', cursive;
$secondary-font: 'Kalam', cursive;



$temp-border: 3px dashed hsl(0, 0%, 0%);