.mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: left;
  // margin: 0 0 0 2rem;
}

.greetingHeading {
  margin: 0;
  font-size: 2.5rem;
  font-family: $cursive-font;
}

// FORM
.menuForm {
  display: flex;
  flex-direction: column;
}
.updateNameBtn {
  display: none;
}

.nameInputLabel {
  font-size: .7rem;
}

.nameInput {
  width: 50%;
  padding: .5rem;
}

// BUTTONS
.menuBtnWrapper {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "basics testing . "
  "resume all . ";
  grid-gap: 1rem;
}

#basicsDeckBtn {
  line-height: 1;
  grid-area: basics;
}

#testingDeckBtn {
  line-height: 1;
  grid-area: testing;
}

#previousDeck {
  grid-area: resume;
}

#fullDeck {
  grid-area: all;
}