// Card.scss
* {
  box-sizing: border-box;
}

.featuredCard {
  width: 50%;
  min-width: 450px;
  max-width: 500px;
  margin: 2rem;
}

// TERM SIDE

.card {
  height: 19rem;
  text-align: center;
  border: $card-border;
  background: $card-bkgrnd;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

.termSide {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.termWrapper {
  display: flex;
  align-items: center;
}
.termText {
  font-family: $term-font;
  font-size: 3rem;
  width: 100%;
  margin: 0;
}

.iconBtnWrapper {
  display: flex;
  justify-content: space-between;
  height: 5rem;
}

.icon {
  width: 12%;
  margin: .5rem;
  padding: 5px;
  border-radius: .25rem;
  cursor: pointer;
  &:hover {
    background-color: $card-bkgrnd;
  }
}

// DEFINITION SIDE

.definitionSide {
  display: grid;
  grid-template-rows: 3fr 1fr;
  background: center / cover no-repeat url(assets/notecard.jpg);

}

.definitionText {
  margin: 2rem 1rem 1rem 1rem;
  font-size: 1.1rem;
  font-family: $term-font
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  grid-auto-flow: column;
  grid-gap: 0 1rem;
  margin: 0 1rem;
}
