// _Button.scss

.cardBtnWrapper {
  display: flex;
  flex-direction: column;
}

.btnLabel {
  font-family: $cursive-font;
  line-height: 1;
  padding: .5rem 0;
}

.cardBtn {
  cursor: pointer;
  border-radius: $corners;
  background: transparent;
  border: $card-border;
  font-family: $secondary-font;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

#wrongAnswerBtn {
  background-color: $card-stripe-red;
  color: $card-bkgrnd;
}

#almostBtn {
  background-color: $almost-color;
  color: $card-bkgrnd;
}

#removeBtn {
  background-color: $nailed-it-color;
  color: $card-bkgrnd;
}